<div class="row">
  <div class="col-xs-12">
    <form action="">
      <div class="row">
        <div class="col-sm-5 form-group">
          <label for="name"></label>
          <input type="text" name="name" class="form-control" id="">
        </div>
        <div class="col-sm-2 form-group">
          <label for="amount"></label>
          <input type="text" name="amount" class="form-control" id="">
        </div>
      </div>
      <div class="row">
        <div class="col-sm-12">
          <button class="btn btn-success" type="submit">Add</button>
          <button class="btn btn-danger" type="button">Delete</button>
          <button class="btn btn-primary" type="button">Clear</button>
        </div>
      </div>
    </form>
  </div>
</div>